$global-font-family: "Helvetica Neue";
//   "游ゴシック Medium" sans-serif;
$white: #ececec;
$darkgray: #aaaaaa;
$light-gray: #f2f2f2;
$deepgray: #777777;
$linecolor: #555555;
$breakpoint-small: 768px;
$breakpoint-xsmall: 362px;

$global-color: #333333;
